<footer class="footer">
  <div class="f-info">
    <div class="f-info-brand">
      <div class="brand-name">AirMojo</div>
      <div class="copyright">&copy; AirMojo Private Limited</div>
    </div>

    <div class="f-info-links-col">
      <h4>Company</h4>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/services">Services</a>
      <a href="/contact">Contact</a>
    </div>

    <div class="f-info-links-col">
      <h4>Support</h4>
      <a href="mailto:utkarshp579@gmail.com">Support Email</a>
      <a href="/terms">Terms & Conditions</a>
      <a href="/privacy">Privacy Policy</a>
      <a href="/faqs">FAQs</a>
    </div>

    <div class="f-info-socials">
      <h4>Follow Us</h4>
      <div class="social-icons">
        <a href="https://www.linkedin.com/in/utkarshp579" target="_blank"
          ><i class="fa-brands fa-square-facebook"></i
        ></a>
        <a href="https://www.linkedin.com/in/utkarshp579" target="_blank"
          ><i class="fa-brands fa-square-instagram"></i
        ></a>
        <a href="https://www.linkedin.com/in/utkarshp579" target="_blank"
          ><i class="fa-brands fa-linkedin"></i
        ></a>
      </div>
    </div>
  </div>
</footer>
