<%- layout("layouts/boilerplate") %>
<div class="row mt-3">
  <div class="col-8 offset-2">
    <h3>About AirMojo</h3>
    <p>
      Welcome to AirMojo, your premier destination for property rentals and
      bookings. We connect travelers with unique homes and experiences around
      the world.
    </p>
    <p>
      Our mission is to create a world where anyone can belong anywhere. We
      provide a platform for hosts to share their spaces and for guests to
      discover new places.
    </p>
  </div>
</div>
