<%- layout("/layouts/boilerplate") %>
<div class="row mt-3">
    <div class="col-8 offset-2">
        <h3>Privacy Policy</h3>
        <p>At AirMojo, accessible from our website, one of our main priorities is the privacy of our visitors.</p>
        
        <h5>1. Information We Collect</h5>
        <p>The personal information that you are asked to provide, and the reasons why you are asked to provide it, will be made clear to you at the point we ask you to provide your personal information.</p>

        <h5>2. How We Use Your Information</h5>
        <p>We use the information we collect in various ways, including to:</p>
        <ul>
            <li>Provide, operate, and maintain our website</li>
            <li>Improve, personalize, and expand our website</li>
            <li>Understand and analyze how you use our website</li>
            <li>Communicate with you, either directly or through one of our partners</li>
        </ul>

        <h5>3. Contact Us</h5>
        <p>If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us.</p>
    </div>
</div>

