<%- layout("/layouts/boilerplate") %>
<div class="row mt-3">
    <div class="col-8 offset-2">
        <h3>Terms & Conditions</h3>
        <p>Welcome to AirMojo. These terms and conditions outline the rules and regulations for the use of AirMojo's Website.</p>
        
        <h5>1. Introduction</h5>
        <p>By accessing this website we assume you accept these terms and conditions. Do not continue to use AirMojo if you do not agree to take all of the terms and conditions stated on this page.</p>

        <h5>2. Cookies</h5>
        <p>We employ the use of cookies. By accessing AirMojo, you agreed to use cookies in agreement with the AirMojo's Privacy Policy.</p>

        <h5>3. License</h5>
        <p>Unless otherwise stated, AirMojo and/or its licensors own the intellectual property rights for all material on AirMojo. All intellectual property rights are reserved.</p>
    </div>
</div>

